<div id="header_info">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-8 fw">
                <ul id="header_contact" class="fw">
                    <li><i class="far fa-clock"></i> <span id="datetime-barner">13:00 - Thứ 6, 13/03/2020</span></li>
                    <li><i class="fas fa-paper-plane"></i> <span>bondservice@apec.com.vn</span></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 fw">
                <div class="searchInputText">
                    <input id="searchContent" type="search" placeholder="Tìm kiếm">
                </div>
                <ul id="header_login" class="fw headerLog">
                    <li style="display: none"><a href="/login">Đăng nhập</a></li>
                    <li style="display: none"><a href="/register">Đăng ký</a></li>
                    <li><i class="fas fa-search search searchIcon"></i></li>
                    <li class="search_mb">
                        <i class="fas fa-search" id="search_icon"></i>
                        <div>
                            <input type="text" class="form-control" id="search_mbc" name="search"
                                   placeholder="Tìm kiếm">
                        </div>
                    </li>
                </ul>
                <div id="userLogin" class="userLogin">
                    <span>Xin chào, </span>
                    <span id="userName"></span>&ensp;
                    <a href="#" id="logOut">Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="header_menu_mb">
    <nav>
        <div class="menu-toggle">
            <div class="container">
                <a href="@WebApp.Site.Sitemap[0].Permalink">
                    <img class="img-fluid" src="~/assets/images/logoAbond.png" alt="">
                </a>
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
            @for (int i = 0; i < WebApp.Site.Sitemap.Count; i++)
            {
                if (!(WebApp.Site.Sitemap[i]).IsHidden)
                {
                    <li>
                        @if ((WebApp.Site.Sitemap[i]).Items.Any())
                        {
                            <a href="@(WebApp.Site.Sitemap[i].Permalink)">@(WebApp.Site.Sitemap[i].MenuTitle)</a>
                            <ul class="submenu fw sub2">
                                @foreach (var submenu in WebApp.Site.Sitemap[i].Items)
                                {
                                    <li>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                        <a href="@submenu.Permalink">@submenu.MenuTitle</a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <a href="@(WebApp.Site.Sitemap[i].Permalink)">@(WebApp.Site.Sitemap[i].MenuTitle)</a>
                        }
                    </li>
                }
            }
        </ul>

    </nav>
</div>

<div id="header_menu" class="row mar0">
    <div class="container">
        <div class="col-lg-2 fw logo-page">
            <a href="@WebApp.Site.Sitemap[0].Permalink">
                <img src="~/assets/images/logoAbond.png" class="img-fluid" alt="Abond"
                     title="Abond">
            </a>
        </div>
        <div class="col-lg-10 fr">
            <ul id="menu">
                @for (int i = 0; i < WebApp.Site.Sitemap.Count; i++)
                {
                    if (!(WebApp.Site.Sitemap[i]).IsHidden)
                    {
                        <li>
                            @if ((WebApp.Site.Sitemap[i]).Items.Any())
                            {
                                <a href="@(WebApp.Site.Sitemap[i].Permalink)">@(WebApp.Site.Sitemap[i].MenuTitle)</a>
                                <ul class="submenu fw sub2">
                                    @foreach (var submenu in WebApp.Site.Sitemap[i].Items)
                                    {
                                        <li>
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                            <a href="@submenu.Permalink">@submenu.MenuTitle</a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a href="@(WebApp.Site.Sitemap[i].Permalink)">@(WebApp.Site.Sitemap[i].MenuTitle)</a>
                            }
                        </li>
                    }
                }
            </ul>
            <div class="logo-contact">
                <img class="img-contact" src="~/assets/images/iconct.png" />
                <div class="info-contact">
                    <span>Liên hệ mua ngay</span>
                    <span>0963 51 3355</span>
                </div>
            </div>
        </div>
    </div>
</div>


@*<ul class="justify-content-center navbar-nav mr-auto">

        @foreach (var item in WebApp.Site.Sitemap)
        {
            if (!item.IsHidden)
            {
                <li class="nav-item @(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? "active" : "")">
                    <a class="nav-link" href="@item.Permalink">@item.MenuTitle</a>
                </li>
            }
        }
    </ul>*@