@model MvcWeb.Models.TeaserPage
@{
    ViewBag.Title = Model.Title;
}


<section id="register_buynow">
    <div class="facebook-abond">
        <a href="https://www.facebook.com/TraiphieuABond/" target="_blank">
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
    </div>
    <div class="register-now">
        <p id="btnRegBuyNow">
            Đăng ký tư vấn
        </p>
    </div>
    <div class="register">
        <span>Đăng ký tư vấn</span>
        <span id="closeformRegister">X</span>
        <div>
            <input type="text" class="form-control" name="name" id="name" placeholder="Họ tên">

            <input type="text" class="form-control" name="phone" id="phone"
                   placeholder="Điện thoại">

            <input type="text" class="form-control" name="email" id="email" placeholder="Email">

            <textarea class="form-control" name="message" id="message"
                      placeholder="Nội dung"></textarea>

            <button id="getInfoBonds" class="btn btn-warning">Gửi đi</button>
        </div>
    </div>
</section>

<div id="slide" class="fw">
    @foreach (var item in Model.SlidePost)
    {
        <div class="item">
            <img class="img-fluid" src="@(item.ImageBanner.Media.PublicUrl.Substring(1) ?? "")" alt="">
            <div class="slide_caption">
                <div class="container">
                    <div class="pad15">
                        <a class="link link-barner" href="@item.Title.Value">@item.SubTitle</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<section id="home_content" class="fw">
    <section id="intro" class="fw">
        <div class="container">
            <div class="row mar0">
                <div class="col-lg-4 row intro estate">
                    <div class="col-12 col-lg-12 intro_info">
                        <img src="~/assets/images/tich-luy-ts.png" class="img-fluid" alt="">
                        <h4>Tích lũy tài sản</h4>
                        <p>Lãi suất cạnh tranh</p>
                        <p>Dòng tiền trả lãi ổn định</p>
                        <p>Sức mạnh lãi suất kép</p>
                    </div>
                </div>
                <div class="col-lg-4 row intro invest">
                    <div class="col-12 col-lg-12 intro_info">
                        <img src="~/assets/images/dau-tu-lh.png" class="img-fluid" alt="">
                        <h4>Đầu tư linh hoạt</h4>
                        <p>Sản phẩm trái phiếu an toàn với cam kết và bảo lãnh mua lại gốc tại bất kỳ thời điểm</p>
                    </div>
                </div>
                <div class="col-lg-4 row intro brand">
                    <div class="col-12 col-lg-12 intro_info">
                        <img src="~/assets/images/thuong-hieu-ut.png" class="img-fluid" alt="">
                        <h4>Thương hiệu uy tín</h4>
                        <p>
                            Trái phiếu do Doanh nghiệp đạt chuẩn điều kiện niêm yết phát hành và được Abond thẩm định
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="why" class="fw">
        <div class="container">
            <h2 class="text-center"><img class="img-fluid" src="~/assets/images/whychooseabond.png" alt=""></h2>
            <div class="section_title">
                <h2>Tại sao lựa chọn kênh đầu tư trái phiếu?</h2>
                <span class="line"></span>
            </div>
            <div class="row mar0">
                <div class="col-12 col-md-3 col-lg-3 why_grid">
                    <img class="img-fluid" src="assets/images/safe.png" alt="">
                    <h5>An toàn và ổn định</h5>
                </div>
                <div class="col-12 col-md-3 col-lg-3 why_grid">
                    <img class="img-fluid" src="assets/images/cate.png" alt="">
                    <h5>Đa dạng hóa danh mục</h5>
                </div>
                <div class="col-12 col-md-3 col-lg-3 why_grid">
                    <img class="img-fluid" src="assets/images/period.png" alt="">
                    <h5>Kỳ hạn linh hoạt</h5>
                </div>
                <div class="col-12 col-md-3 col-lg-3 why_grid">
                    <img class="img-fluid" src="assets/images/interest_rate.png" alt="">
                    <h5>Lãi suất vượt trội</h5>
                </div>
                <div class="col-12 col-md-3 col-lg-3 why_grid">
                    <img class="img-fluid" src="assets/images/tendency.png" alt="">
                    <h5>Xu hướng thị trường</h5>
                </div>
            </div>
        </div>
    </section>

    <section id="why_choose" class="fw">
        <div class="container">
            <div class="why_choose fw">
                <div class="row why_choose_row_top">
                    <div class="col-12 col-sm-6 col-lg-6 why_choose_left">
                        <iframe src="@Model.DoYouKnow1.LinkVideo.Value"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6 why_choose_right">
                        <h6>@Model.DoYouKnow1.HeaderTitle</h6>
                        <h2>@Model.DoYouKnow1.Title</h2>
                        @Html.Raw(Model.DoYouKnow1.Body)
                        <a href="@Model.DoYouKnow1.Link.Value" class="link">Xem chi tiết</a>
                    </div>
                </div>
                <div class="row why_choose_row_bot">
                    <div class="col-12 col-sm-6 col-lg-6 why_choose_left">
                        <h2>@Model.DoYouKnow2.Title</h2>
                        <br />
                        <ul>
                            @foreach (var item in Model.BodyDoyouKnow)
                            {
                                <li><i class="fas fa-check"></i>&emsp;@item</li>
                            }
                        </ul>
                        <a href="@Model.DoYouKnow2.Link.Value" class="link">Xem chi tiết</a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6 why_choose_right">
                        @*<img class="img-fluid" src="@(Model.DoYouKnow2.Image.Media.PublicUrl.Substring(1) ?? "")" alt="">*@
                        <iframe src="@Model.DoYouKnow2.LinkVideo.Value"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="bonds" class="fw">
        <div class="container">
            <div class="section_title">
                <h2>Trái phiếu chào bán</h2>
                <span class="line"></span>
            </div>
            <div class="row mar0 bonds_row">
                @for (int i = 0; i < Model.lstBonds4Sale.Count; i++)
                {
                    var item = Model.lstBonds4Sale[i];
                    <div class="col-12 col-md-6 col-lg-4 bonds_grid">
                        <div class="bonds_grid_img">
                            <img class="img-fluid" src="@(item.BondsImage.Media.PublicUrl.Substring(1)?? "")" style="width: 100%;" alt="">
                            <div class="item-card">
                                @if (item.IsHot.Value == true)
                                {
                                    <img src="~/assets/images/sale.png" />
                                }
                            </div>
                            <a class="readmore" data-toggle="modal" data-target="@("#bondsInfoPopup"+i)">Nhận thông tin <i class="fas fa-caret-right"></i></a>
                        </div>
                        <div class="bonds_grid_content">
                            <div class="bonds_grid_content_top">
                                <h4 class="bonds_title">@item.BondsName</h4>
                                <p>@item.BondsDescription</p>
                                <h2 class="percent">@item.BondsPercent</h2>
                                <p>@item.BondsPercentDes</p>
                            </div>
                            <div class="bonds_grid_content_center">
                                @Html.Raw(item.BondsDescription2)
                            </div>
                            <div class="bonds_grid_content_bottom fw">
                                <div class="row">
                                    <span class="col-6 col-lg-6 bonds_grid_content_bottom_text">Đang huy động</span>
                                    <span class="col-6 col-lg-6 bonds_grid_content_bottom_percent">@item.BondsDeposit%</span>
                                </div>
                                <div class="row">
                                    <div class="progress fw">
                                        <div class="progress-bar" style="width:@(item.BondsDeposit.Value)%"></div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyNowModal">Mua ngay</button>
                        </div>
                    </div>

                    <div class="modal fade" id="@("bondsInfoPopup"+i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>
                                        <h3 class="modal-title">@item.BondsName</h3>
                                        <p>@item.BondsDescription</p>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.Raw(item.BondsPopup)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="modal fade" id="buyNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">ĐĂNG KÝ MUA NGAY</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" name="name" id="nameBonds" placeholder="Họ tên">

                                <input type="text" class="form-control" name="phone" id="phoneBonds"
                                       placeholder="Điện thoại">

                                <input type="text" class="form-control" name="email" id="emailBonds" placeholder="Email">

                                <textarea class="form-control" name="message" id="messageBonds"
                                          placeholder="Nội dung"></textarea>

                            </div>
                            <div class="modal-footer">
                                <button id="regBuyBonds" class="btn btn-warning">Gửi đi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tutorial" class="fw">
        <style>
            #tutorial:before {
                background-image: url(@Model.OrderProcessImg.Media.PublicUrl.Substring(1));
            }
        </style>
        <div class="container">
            <h2 class="text-center">Quy trình đặt mua</h2>
            <div class="row mar0 tutorial">
                @for (int i = 0; i < Model.OrderProcess.Count; i++)
                {
                    <div class="col-lg-4 tutorial_grid">
                        <h3>Bước @(i + 1)</h3>
                        <div class="tutorial_step">
                            <h4>@Model.OrderProcess[i].Title</h4>
                            <div class="tutorial_step_img">
                                <img class="img-fluid" src="@(Model.OrderProcess[i].BuyImage.Media.PublicUrl.Substring(1) ?? "")" alt="">
                            </div>
                            <div class="tutorial_step_text">
                                <a href="@Model.OrderProcess[i].Link1.Value"><p>@Model.OrderProcess[i].LinkTitle1</p></a>
                                <a href="@Model.OrderProcess[i].Link2.Value"><p>@Model.OrderProcess[i].LinkTitle2</p></a>
</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section id="free" class="fw">
        <div class="section_title">
            <h2>@Model.FreeServicesHeader.Title</h2>
            <p>@Model.FreeServicesHeader.Describes</p>
            <span class="line"></span>
        </div>
        <div class="row mar0">
            @foreach (var item in Model.FreeServices)
            {
                <div class="col-sm-6 col-lg-3 free_service">
                    <img class="img-fluid" src="@(item.Image.Media.PublicUrl.Substring(1) ?? "")" alt="">
                    <div class="free_service_content">
                        <h3>@item.HeaderTitle</h3>
                        <p>
                            @Html.Raw(item.Body)
                        </p>
                    </div>
                </div>
            }
        </div>
    </section>

    <section id="mobilized" class="fw">
        <div class="container">
            <div class="section_title">
                <h2>@Model.WeDoHeader.Title</h2>
                <p>@Model.WeDoHeader.Describes</p>
                <span class="line"></span>
            </div>
            <div class="row mobilized_content">
                @foreach (var item in Model.WeDo)
                {
                    <div class="col-lg-3 mobilized_content_grid">
                        <h2>@item.Title</h2>
                        <p>@item.Describes</p>
                    </div>
                }
            </div>
        </div>
    </section>

    <section id="comment" class="fw">
        <div class="container">
            <div class="comment">
                <h2 class="comment_title">Ý kiến của khách hàng</h2>
                <div id="comment_slide">
                    @foreach (var item in Model.CustomerFeedback)
                    {
                        <div class="item">
                            <div class="comment_content">
                                <h3 class="text-center">
                                    <img class="img-fluid" src="@(item.Image.Media.PublicUrl.Substring(1) ?? "")" alt="">
                                </h3>
                                <p>
                                    @item.Description
                                </p>
                                <h4 class="text-center"><i class="fas fa-quote-left"></i> @item.TopTitle</h4>
                                <span>@item.SubTitle</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="sldLogoNews" class="fw">
        <div class="section_title">
            <h2>@Model.lstLogoHeader.Title</h2>
            <span class="line"></span>
        </div>
        <div id="partner">
            <div class="container">
                <div id="partner_slide">
                    @foreach (var item in Model.lstLogo)
                    {
                        <div class="item">
                            <a href="@item.Title.Value" target="_blank"><img class="img-fluid" src="@(item.ImageBanner.Media.PublicUrl.Substring(1)??"")" alt=""></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>
<span style="display:none" id="mailReceiver">@Model.Receiver</span>